.grid{
	
	margin-right: auto;
	margin-left:auto;
}

#cell1 {  
  background-color: rgb(51, 204, 0);
}

#cell2 {  
  background-color: rgb(255, 0, 0);
}

#cell3 {  
  background-color: rgb(255, 255, 0);
}

#cell4 {  
  background-color: rgb(51, 102, 255);
}

@-webkit-keyframes blink {  
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.blinkdiv {
    -webkit-animation-name: blink;  
    -webkit-animation-iteration-count: 1;  
    -webkit-animation-duration: 0.7s; 
}